<!-- row -->
<div class="row">

    <div class="col-md-12">
        <div class="newsletter">
            <a href="/" aria-current="page"><br>
            <img src="assets/img/logo2.png" width="303" height="87" alt="Logo"></a>
            <p class="news-letter-3" style="font-size:medium;margin:0px 20% 0px 20%;color:red;">
                Chercher. Comparer. Economiser.
            </p>
            <p class="col-md-12"><br>
                A chaque instant, nous filtrons et comparons des milliers d'offres chez nos
                partenaires marchands pour que vous trouviez de bonnes affaires
            </p><br>
            <form class="qrv">
                <input class="input" type="text" placeholder="Que recherchez-vous ?">
                <button class="newsletter-btn"><i class="fa fa-loop"></i> Search</button>
            </form>

        </div>
        <div class="browse-category">
            <a href="#all_categories" data-i18n-label="Chercher par catégorie"
                class="browse-category__link" style="text-align: centerS;">
                Chercher par catégorie
            </a></div>
    </div>
</div>
<!-- /row -->