<!-- row -->
<div class="row">

    <div class="col-md-12">
        <div class="newsletter">
            <a href="/" aria-current="page"><br>
            <img src="assets/img/logo2.png" width="303" height="87" alt="Logo"></a>
            <p class="news-letter-3" style="font-size:medium;margin:0px 20% 0px 20%;color:rgb(24, 24, 24);">
                Chercher. Comparer. Economiser.
            </p>
            <p class="col-md-6" style="margin-left: 25%; font-size: 20px rgb(24, 24, 24);" ><br>
                A chaque instant, nous filtrons et comparons des milliers d'offres chez nos
                partenaires marchands pour que vous trouviez de bonnes affaires
            </p><br>
            <form _ngcontent-rau-c5="" novalidate="" class="first">
                <input _ngcontent-rau-c5="" class="input" placeholder="Que chercher vous" type="text">
                <button _ngcontent-rau-c5="" class="newsletter-btn">
                <i _ngcontent-rau-c5="" >

                </i> Search</button></form>

        </div>
        <div class="browse-category">
            <a href="#all_categories" data-i18n-label="Chercher par catégorie"
                class="browse-category__link" style="text-align: centerS;">
                Chercher par catégorie
            </a></div>
    </div>
</div>
<!-- /row -->