<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav" class="col-md-12">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Hot Deals</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <div class="col-md-5 order-details" style="margin-left: 30%;">
                <div class="limiter">
                    <div class="container-login100">
                        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

                            <div class="section-title1 text-center">
                                <h1 class="title" style="color: #D10024;">Sign Up</h1>
                                <span class="FormDivider__LineThrough-sc-1mk5332-0 dHVBa-D"
                                    style="margin-top: 30px; padding-right: 50px;">
                                    Using
                                </span>
                                <div class="flex-c-m" style="margin-top: 26px; ">
                                    <a href="https://www.facebook.com/" class="login100-social-item bg1">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a href="https://twitter.com/" class="login100-social-item bg2">
                                        <i class="fa fa-twitter"></i>
                                    </a>

                                    <a href="https://www.google.com/gmail/" class="login100-social-item bg3">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </div>
                                <span class="FormDivider__LineThrough-sc-1mk5332-0 dHVBa-D" style="margin-top: 20px; ">
                                    or
                                </span>
                            </div>
                            <form [formGroup]='signupForm'>
                                <legend style="text-align: center; margin-top: -45px;"><br>
                                    Personal information</legend>
                                <p>Veuillez saisir des informations exactes. Votre identité doit être vérifiée pour permettre
                                    l'utilisation continue de votre compte.</p>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                                    <span class="label-input100">First Name</span>
                                    <input class="input100" type="text" formControlName='firstName'
                                        placeholder="Type your First Name">
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <div *ngIf="signupForm.controls['firstName'].invalid &&
                                    (signupForm.controls['firstName'].dirty ||
                                    signupForm.controls['firstName'].touched)">
                                    <div *ngIf="signupForm.controls['firstName'].errors.required" style="color: red;">
                                        First Name is required
                                    </div>
                                    <div *ngIf="signupForm.controls['firstName'].errors.minlength" style="color: red;">
                                        First Name must have at least 3 characters
                                    </div>
                                </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                                    <span class="label-input100">Last Name</span>
                                    <input class="input100" type="text" formControlName='lastName'
                                        placeholder="Type your last Name">
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <div *ngIf="signupForm.controls['lastName'].invalid &&
                                  ( signupForm.controls['lastName'].dirty ||
                                  signupForm.controls['lastName'].touched ) ">
                                    <div *ngIf="signupForm.controls['lastName'].errors.required" style="color: red;">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="signupForm.controls['lastName'].errors.minlength" style="color: red;">
                                        Last Name must have at least 5 characters
                                    </div>
                                </div>
                                <div class="wrap-input100 validate-input" data-validate="confirm Password is required">
                                    <span class="label-input100">Email</span>
                                    <input class="input100" type="texte" formControlName='email'
                                        placeholder="Type your email">
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <div *ngIf="signupForm.controls['email'].invalid &&
                                   ( signupForm.controls['email'].dirty ||
                                     signupForm.controls['email'].touched ) ">
                                    <div *ngIf="signupForm.controls['email'].errors.required
                                    ||signupForm.controls['email'].errors.email" style="color: red;">
                                        Email is required
                                    </div>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Password is required">
                                    <span class="label-input100">Password</span>
                                    <input class="input100" type="password" formControlName='pwd'
                                        placeholder="Type your password">
                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                </div>
                                <div *ngIf="signupForm.controls['pwd'].invalid &&
                                 ( signupForm.controls['pwd'].dirty ||
                                  signupForm.controls['pwd'].touched ) ">
                                    <div *ngIf="signupForm.controls['pwd'].errors.required" style="color: red;">
                                        Password is required
                                    </div>
                                    <div *ngIf="signupForm.controls['pwd'].errors.minlength" style="color: red;">
                                        Password must have at least 8 characters
                                    </div>
                                </div>
                                <div class="wrap-input100 validate-input" data-validate="confirm Password is required">
                                    <span class="label-input100">Confirm Password</span>
                                    <input class="input100" type="password" formControlName='confirmPwd'
                                        placeholder="Confirm  your password">
                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                
                                

                                </div>

                                <!-- <div class="form-group">
                                        <input class="input" type="number" name="naissance" placeholder="Jour">- &nbsp;
                                        <input class="input" type="number" name="naissance" placeholder="Mois">- &nbsp;
                                        <input class="input" type="number" name="naissance" placeholder="Année">
                                    </div> -->

                                <div style="margin-left: 70px;">
                                    <label class="radio">
                                        <input type="radio" class="radio-one" checked="checked" name="male"
                                            value="male">
                                        <span class="checkmark"></span>
                                        Male
                                    </label>
                                    <label class="radio">
                                        <input type="radio" class="radio-two" name="female" value="female">
                                        <span class="checkmark"></span>
                                        Female
                                    </label>
                                </div>
                                <div class="input-checkbox" style="margin-top: 10px;">
                                    <input type="checkbox" id="terms">
                                    <label for="terms">
                                        <span></span>
                                        I've read and accept the <a href="#">terms & conditions</a>
                                    </label>
                                </div>
                                <div class="container-login100-form-btn" style="margin-top:30px">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button (click)='signup(signupForm.value)' class="login100-form-btn">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!-- /container -->

    <!-- /SECTION -->